{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
    Exclusão de Folga
{% endblock title %}

{% block content %}
    <div class="container">
        <h2> Quer realmente excluir a folga do "Dr.{{object.medico}}"? </h2>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success"> Excluir! </button>
            <button type="button" class="btn btn-warning">
                <a href="{% url 'folga:index' %}" style="text-decoration:none;"> Cancelar </a>
            </button>
        </form>
    </div>

{% endblock content %}
