{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
    Adicionar Médico
{% endblock title %}

{% block content %}
    <h1> Médico </h1>
    <hr>
    {% bootstrap_messages %}

    <div class="container">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-success"> Salvar </button>
            <a href="{% url 'medicos:index' %}" style="text-decoration:none;"> <button type="button" class="btn btn-warning"> Cancelar </button> </a>
        </form>
    </div>

{% endblock content %}
