{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
    Escala
{% endblock title %}

{% block content %}
    <h1> Escala de Trabalho </h1>
    <hr>

    <div class="container">
        {% bootstrap_messages %}
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-success"> Salvar </button>
            <a href="{% url 'escala:escala' %}" style="text-decoration:none;"> <button type="button" class="btn btn-warning"> Cancelar </button> </a>
        </form>
    </div>

{% endblock content %}
