{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
    Exclusão de Escala
{% endblock title %}

{% block content %}
    <div class="container">
        <h2> Quer realmente excluir a escala "{{object}}"? </h2>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success"> Excluir! </button>
            <a href="{% url 'escala:escala' %}" style="text-decoration:none;">
                <button type="button" class="btn btn-warning">
                    Cancelar
                </button>
            </a>
        </form>
    </div>

{% endblock content %}
