{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <h1 style="text-align: center;"> Projeto Escala de Atendimento </h1>
    <hr>

    <h2> Projeto </h2>
    <p>O projeto consiste em implementar o controle que é feito hoje em planilha em um sistema web
utilizando Django. </p>

    <h2> Problema </h2>
    <p>Um grupo de médicos criou uma empresa para atender, em conjunto, um grupo de postos de
trabalho. Anteriormente, cada um deles atendia individualmente os seus próprios postos de
trabalho, mas tinham dificuldades de tirar dias de folga pois sempre precisavam procurar
alguém para cobrir o dia de ausência.</p>
    <p>A formação do grupo permitiu que eles definissem uma escala de atendimento e cada um deles
pode, agora, folgar um dia da semana. Eles criaram uma planilha de excel para controlar a escala.</p>
    <p>O grupo definiu um gestor que cadastra conforme regras pré-definidas os médicos que deverão
atuar em cada data em cada posto de trabalho.</p>
    <p>Cada médico pode escolher um dia da semana para folgar. Nesse dia ele não poderá ser
escalado.</p>
    <p>O grupo de médicos quer, agora, transformar a planilha da escala em um sistema próprio. Eles
pretendem, no futuro, inserir outras funcionalidades como definição automática da escala,
notificações, inclusão e remoção de folgas, etc.</p>

    <h2> Tecnologias utilizadas neste projeto </h2>
    <ul>
        <li> Django </li>
        <li> Python </li>
        <li> HTML e CSS </li>
        <li> Git </li>
        <li> Docker/docker-compose </li>
    </ul>


    <h5> Recomendações de uso da aplicação: </h5>
    <ol>
        <li> Comece pelo cadastro dos postos de atendimento </li>
        <li> Depois, os médicos </li>
        <li> Folgas </li>
        <li> E então, a escala. </li>
    </ol>

    <h5> Backlog: </h5>
    <ul>
        <li> Definição automática da escala </li>
        <li> Notificações </li>
        <li> Inclusão e remoção de folgas </li>
        <li> Sistema de login </li>
        <li> Gerar gráfico </li>
        <li> Etc </li>
    </ul>

    <hr>
    <p> <b> Github: </b> <a href="https://github.com/MarcosAllysson/django_escala_de_atendimento" target="_blank"
                            style="text-decoration:none;"> clique aqui. </a> </p>


{% endblock content %}