{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <h1 style="text-align: center;"> Projeto Escala de Atendimento </h1>
    <h5> Recomendações: </h5>
    <ol>
        <li> Cadastro dos postos de atendimento </li>
        <li> Médicos </li>
        <li> Folgas </li>
        <li> E então, a escala. </li>
    </ol>

    <hr>
    <p> <b> Github: </b> <a href="https://github.com/MarcosAllysson" target="_blank"> clique aqui. </a> </p>


{% endblock content %}