{% extends 'base.html' %}

{% block title %}
    Escala
{% endblock title %}

{% block content %}
    <a href="{% url 'escala:add-escala' %}">
        <button class="btn btn-outline-primary mb-3"><i class="fa fa-plus"></i> Cadastrar </button>
    </a>

    {% if object_list %}
        <h1> Escala de Trabalho </h1>

        <table class="table">
            <thead>
               <tr>
                   <th scope="col">Dia</th>
                   <th scope="col">Médico</th>
                   <th scope="col">Posto de Trabalho</th>
                   <th scope="col">Ações</th>
               </tr>
            </thead>
            <tbody>
                {% for escala in object_list %}
                   <tr>
                       <th scope="row">{{escala.data}}</th>
                       <td>{{escala.medico.nome}} {{escala.medico.sobrenome}}</td>
                       <td> {{escala.posto_de_trabalho}} </td>
                       <td>
                            <a href="{% url 'escala:upd-escala' escala.pk %}">
                                <button class="btn btn-outline-info"><i class="fa fa-edit"></i> Editar </button>
                            </a>
                            <a href="{% url 'escala:del-escala' escala.pk %}">
                                <button class="btn btn-outline-danger"><i class="fa fa-minus-circle"></i> Excluir </button>
                            </a>
                       </td>
                   </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <h2> Ainda não há escalas cadastradas. </h2>

    {% endif %}

{% endblock content %}
