{% load static %}
<!--{% url 'sales:home' as path_to_home %}-->
{% url 'escala:home' as path_to_home %}
{% url 'posto:index' as path_to_posto %}
{% url 'medicos:index' as path_to_medicos %}
{% url 'folga:index' as path_to_folga %}
{% url 'escala:escala' as path_to_escala %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <a class="navbar-brand {% if request.path == path_to_posto %} active {% endif %}" href="{{path_to_home}}">Início</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link {% if request.path == path_to_posto %} active {% endif %}" href="{{path_to_posto}}">Posto</a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if request.path == path_to_medicos %} active {% endif %}" href="{{path_to_medicos}}">Médico</a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if request.path == path_to_folga %} active {% endif %}" href="{{path_to_folga}}">Folga</a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if request.path == path_to_escala %} active {% endif %}" href="{{path_to_escala}}">Escala</a>
        </li>
      </ul>

    </div>

  </div>
</nav>