{% extends 'base.html' %}

{% block title %}
    Posto de Trabalho
{% endblock title %}

{% block content %}
    <p>Adicionar: <a href="{% url 'posto:add-posto' %}"> <button type="button" class="btn btn-primary"> posto de trabalho </button> </a> </p>
    <br>

    {% if object_list %}
        <h1> Postos de Trabalho </h1>
        <hr>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Posto</th>
                    <th scope="col">Endereço</th>
                    <th scope="col">Ativo?</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for posto in object_list %}
                    <tr>
                        <th scope="row">{{posto.id}}</th>
                        <td>{{posto.nome_do_posto}}</td>
                        <td>{{posto.endereco}}</td>
                        <td>
                            {% if posto.ativo %}
                                <p> Sim </p>
                            {% else %}
                                <p> Não </p>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'posto:upd-posto' posto.pk %}" style="text-decoration: none;"> Editar </a> </p>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <h2> Ainda não há postos de trabalho cadastrados. </h2>

    {% endif %}

{% endblock content %}
