{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
    Adicione Posto de Trabalho
{% endblock title %}

{% block content %}
    <h1> Adicione Posto de Trabalho </h1>

    <div class="container">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-success"> Salvar </button>
            <button type="button" class="btn btn-warning"> <a href="{% url 'posto:index' %}"> Cancelar </a> </button>
        </form>
    </div>

{% endblock content %}
